name: Jira Exporter Workflow

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */1 * * *' 

jobs:
  run-integration:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: port-labs/ocean-sail@v1
        with:
          type: 'jira'
          port_client_id: ${{ secrets.OwRWKL09UCkzMWiYrfIBnbnkBniYPYpd }}
          port_client_secret: ${{ secrets.MIBgdJzktmdD41ZmquuvFvhzd95cu63wjxUkzwj0DDhdfCIH2IvgWNhPX3YVCtD2 }}
          port_base_url: https://api.getport.io
          config: |
            jira_host: ${{ secrets.sahar4azar.atlassian.net }}
            atlassian_user_email: ${{ secrets.OCEAN__INTEGRATION__CONFIG__ATLASSIAN_USER_EMAIL }}
            atlassian_user_token: ${{ secrets.OCEAN__INTEGRATION__CONFIG__ATLASSIAN_USER_TOKEN }}
